<h1>Web App</h1>

<p>Insert awesome tagline here...</p>

<p>
	<%= link_to "Register", new_user_registration_path, :class => 'big' %>
</p>

<p>
	<%= link_to "Sign in", new_user_session_path, :class => 'big' %>
</p>
